<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>ユーザー登録リクエスト受付完了</title>
</head>
<body>
<div>
入力されたメールアドレス宛にユーザー登録用のURLが記載された メールを送付しました。<br>
メールに記載されたURLをクリックして、ユーザー登録をしてください<br>
<br>
なお送信されたURLの有効期限は現在から24時間以内となります<br>
24時間を過ぎてしまった場合は、再度登録用URLリクエスト画面からやり直してください。<br><br>
正しいメールアドレスを入力しているにもかかわらずメールが届かない場合は、お問い合わせページから問い合わせください
</div>
</body>
</html>